.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 4.5fr 2.6fr 2.6fr 2.6fr 2fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "main-navbar main-navbar main-navbar"
    "small-navbar small-navbar small-navbar"
    "first-contaner first-contaner first-contaner"
    "second-container second-container second-container"
    "third-container third-container third-container"
    "fourth-container fourth-container fourth-container"
    "fifth-container fifth-container fifth-container";
  width: 100%;
  position: absolute;
}

.main-navbar {
  grid-area: main-navbar;
  width: 200vh;
  height: 128px;
}

.small-navbar {
  grid-area: small-navbar;
  width: 200vh;
height: 43px;
background: rgba(7, 161, 137, 0.14);
}

.first-contaner {
  grid-area: first-contaner;
  width: 200vh;
  height: 969px;
left: 0px;

background: #0AB79B;

}

.second-container {
  grid-area: second-container;
}

.third-container {
  grid-area: third-container;
}

.fourth-container {
  grid-area: fourth-container;
}

.fifth-container {
  grid-area: fifth-container;
}

.right-navbar-image {
  border-radius: 20%;
  width: 40px;
  height: 40px;
  background-color: #E2E2EA;
  background-image: url('https://www.gravatar.com/avatar/0b4fa970be41e2286c39f5b0167e6d9d?s=64&d=identicon&r=PG');
  background-repeat: no-repeat;
  color: #E2E2EA;
}

.nav-bar-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100%;

}

.navbar-main {
  background-color: #E3F2FD;
  height: 100%;
}

.mb-3 {
  height: 51px;
  border: 1px solid #07A189;
  box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
  border-radius: 15px;
  
}

.logo-btn {
  width: 135px;
  height: 58.33px;
  left: 60px;
  top: 34px;

  background: #07A189;
  border-radius: 15px;

}

.navbar-post-project {
  width: 102px;
  height: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #000000;
}
.navbar-search-project{
  width: 133px;
height: 27px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
margin-bottom: 20px;
color: #000000;
}
.small-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
color: #1D1D1D;

}
.card-profile-img{
  border-radius: 6px;
  width: 37px;
  height: 37px;
  background-color: #E2E2EA;
  background-image: url('https://www.gravatar.com/avatar/0b4fa970be41e2286c39f5b0167e6d9d?s=64&d=identicon&r=PG');
  background-repeat: no-repeat;
  color: #E2E2EA;
}
.card-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #1D1D1D;

}
.card-text-profile{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #9F9F9F;
margin-left: 15px;
margin-top: -10px;

}
.card-title-rating{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  
  
  color: #000000;
}
#start-card{
  color: #ECB800;
}
.card-text-description{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #9F9F9F;

}
.card-text-rate{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #000000;

}
.card-text-price{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #6B6B6B;
margin-top: -20px;

}
.card-price-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.text-first-container{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;

}
.title-first-container{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
color: #FFFFFF;

}
.flex-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}