@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');


  body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
  }
 
.container {
  display: flex;
  flex-direction: column;
  /* grid-template-areas:
    "main-navbar main-navbar main-navbar "
    "small-navbar small-navbar small-navbar"
    "first-contaner first-contaner first-contaner"
    "second-container second-container second-container"
    "third-container third-container third-container"
    "fourth-container fourth-container fourth-container"
    "fifth-container fifth-container fifth-container"; */
    

 max-width:100%;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 3560px;
  box-sizing: border-box;
  position:absolute

}

.main-navbar {
  

  width: 98vw;
  height: 128px;

}

.text-title-size {
  width: 450px;
}

.small-navbar {

  
  width: 98vw;
  height: 43px;
  background: rgba(7, 161, 137, 0.14);
}

.first-contaner {
  
  
  width: 98vw;
  height: 969px;


  background: #0AB79B;

}

.second-container {

  width: 98vw;
  
  height: 723px;
  background-color: #E3F2FD;
}

.third-container {
  
  
  width: 98vw;
  height: 472px;
  background: #FFFFFF;

}

.fourth-container {

  
  width: 98vw;
  height: 783px;
  background: #0AB79B;

}

.fifth-container {
  
  box-sizing: border-box;
  width: 98vw;
  height: 442px;


  background: #FBFBFB;

}

.right-navbar-image {
  border-radius: 20%;
  width: 5%;
  height: 50%;
  background-color: #E2E2EA;
  background-image: url('https://www.gravatar.com/avatar/0b4fa970be41e2286c39f5b0167e6d9d?s=64&d=identicon&r=PG');
  background-repeat: no-repeat;
  color: #E2E2EA;
}

.right-navbar-image:hover {
  border: 2px solid #07A189
}

.nav-bar-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  height: 100%;

}

.navbar-main {
  background-color: #E3F2FD;
  height: 100%;
}

.popover-navbar {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 22px;


  color: #0AB79B;
}

.mb-2 {
  height: 20%;
  border: 1px solid #07A189;
  box-shadow: 3px 18px 37px 10px rgba(165, 165, 165, 0.2);
  border-radius: 15px;

}

.logo-btn {
  width: 8em;
  height: 50%;
  left: 60%;
  top: 30%;
  text-align: center;
  background: #07A189;
  border-radius: 1em;

}

.navbar-post-project {
  width: 10%;
  height: 15%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 27px;
  margin-bottom: 20%;
  color: #000000;
}

.navbar-search-project {
  width: 10%;
  height: 15%;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 27px;
  margin-bottom: 20%;
  color: #000000;
}

.small-navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 22px;
  color: #1D1D1D;

}

.card-profile-img {
  border-radius: 6%;
  width: 37px;
  height: 37px;
  background-color: #E2E2EA;
  background-image: url('https://www.gravatar.com/avatar/0b4fa970be41e2286c39f5b0167e6d9d?s=64&d=identicon&r=PG');
  background-repeat: no-repeat;
  background-size: cover;
  color: #E2E2EA;
}

.card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  width: fit-content;
  line-height: 27px;
  color: #1D1D1D;

}

.card-text-profile {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 18px;
  color: #9F9F9F;
  margin-left: 0.2em;
  margin-top: -10%;

}

.card-title-rating {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 21px;


  color: #000000;
}

#start-card {
  color: #ECB800;
}

.card-text-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 18px;
  color: #9F9F9F;

}

.card-text-rate {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 20px;
  color: #000000;

}

.card-text-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 21px;
  color: #6B6B6B;
  margin-top: -20px;

}

.card-price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card-text-price{
  width:8em;
  font-size: small;
}
.text-first-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 30px;
  color: #FFFFFF;

}

.title-first-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 72px;
  color: #FFFFFF;

}
.flex-card-fistcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
  margin-top: 2em;
}
.flex-card-second-first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: -10%;
  margin-top: 2em;
}
.flex-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-column-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.see-more-card {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  width: 2%;
  color: #FFFFFF;
}

.main-second-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.text-second-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 30px;


  color: #07A189;

}

.title-second-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 60px;


  color: #000000;

}

.second-seemore {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 33px;

  color: #000000;

}

.text-third-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 30px;


  color: #07A189;

}

.title-third-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 60px;

  color: #000000;

}

.button-third-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;


  color: #0AB79B;

}
@media only screen and (min-width: 1000px) {
  .img-third {
  gap:10rem;
  }
  }
#second-container-card {
  border: 3px solid #07A189;
  border-radius: 15px;
}
@media only screen and (min-width:1000px){
  .fourth-container-image{
  gap:2rem;
  padding:2rem
  }
}
.text-fourth-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 30px;


  color: #000000;
}

.title-fourth-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 100%;


  color: #FFFFFF;

}

.seemore-fourth-container {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 33px;


  color: #FFFFFF;

}

.logo-footer-btn {
  width: 40%;
  height: 30%;
  background-color: #07A189;
  border-radius: 15px;
  text-align: center;
}

.footer-content {
  font-family: 'Raleway';
  width: 40%;
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 35px;
  /* or 159% */


  color: #6C6C6C;
}

.footer-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 31px;
  color: #000000;

}

.btn-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 26px;

  color: #6C6C6C;

}

.btn-footer-about {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  width: 40%;
  line-height: 26px;
  color: #6C6C6C;
}

.btn-footer-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 45px;
  color: #FFFFFF;

}

.modal-content {
  background-color: #e7fffb !important;
}

.login-input_box {
  margin: 7px;
  border-radius: 5px;
  border: 1px solid #17a992;
}

.login-input_box:focus {
  outline: 0px;
}


.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;

  margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background-color: #21252947;
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
  margin-top: 15px;
}
.underline {
  border-bottom-width: 2px;
 }
 